@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
 }

 body{
    background-image: linear-gradient(to right,#DAFDBA,#9AEBA3);
 }

 main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #012030 ;
    width: 400px;
    padding: 10px;
    margin: auto;
   
 }

 h1{
    color: #45C4B0;
    text-align: center;
    text-shadow: 1px 1px 2px #173f39;
    
}

h2{
    color: #13678A;
}
 
 p{
    text-align: justify;
 }